<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Your Bus Ads</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="css/ex.css">
{{!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <nav>
       {{>header}}
                
    </nav>
    <div class="box-heading">
        <h3>Post Your AD</h3>
    </div>

    <form class="ads-box ">
        <div class="box-head"><h5>INCLUDE SOME DETAILS</h5></div>
        
        <div class="ad-title">
            <label for="" >Ad title</label>
            <input type="text" name="" id="" required>
            <p>Mention the key features of your item (e.g. brand, model, age, type)</p>
        </div>
        <div class="ad-title">
            <label for="" >Description</label>
            <textarea  required ></textarea>
            <p>Include condition, features and reason for selling</p>
        </div>

        <div class="ad-title">
            <label for="" >Make</label>
            <select name="make" id="" class="combo">
                <option value="">Select</option>
                <option value="">Daewoo</option>
                <option value="">Higer</option>
                <option value="">YouTong</option>
            </select>
           
        </div>

        <div class="ad-title">
            <label for="" >Year</label>
            <select name="make" id="" class="combo">
                <option value="">Select</option>
                <option value="">2000</option>
                <option value="">2001</option>
                <option value="">2002</option>
                <option value="">2003</option>
                <option value="">2004</option>
                <option value="">2005</option>
                <option value="">2006</option>
                <option value="">2007</option>
                <option value="">2008</option>
                <option value="">2009</option>
                <option value="">2010</option>
                <option value="">2011</option>
                <option value="">2012</option>
                <option value="">2013</option>
                <option value="">2014</option>
                <option value="">2015</option>
                <option value="">2016</option>
                <option value="">2017</option>
                <option value="">2018</option>
                <option value="">2019</option>
                <option value="">2020</option>
                <option value="">2021</option>
                <option value="">2022</option>
            </select>
           
        </div>
     
        <div class="ad-title">
            <label for="" >Seating Capacity</label>
            <select name="make" id="" class="combo">
                <option value="">Select</option>
                <option value="">30</option>
                <option value="">35</option>
                <option value="">40</option>
                <option value="">45+</option>
             
            </select>
           
        </div>
  
        <div class="ad-title">
            <div class="box-head"><h5 class="botm">YOUR AD'S LOCATION</h5></div>
            <label for="" >Location</label>
            <input type="text" name="" id=""  required >

           
        </div>
        <div class="ad-title">
            <div class="box-head"><h5 class="botm">UPLOAD UP TO 20 PHOTOS</h5></div>
            
            <input type="file" name="myfile" id="myfile"  multiple  required >
           
        </div>
        <div class="btn">
            <input type="submit" name="submit" id="submit" class="inp" >
        </div>

        </form>

      
{{>footer}}


</body>
</html>