
{{>header}}
<div class="bgimg"></div>

<!-- Card Div Heading Start -->
<div class="heading">
  <h1>Feature Ads</h1>
</div>
<!-- Card Div Heading End -->


<!-- Card Div Start -->
{{>card}}


  {{!-- <div class="gallery ">
    <a href="#">
      <div class="content">
        <img src="css/bg.jpg" alt="">
        <h3 class="h3">Title</h3>
      <h6 class="card-price">Rs 500</h6>
      <p>Location</p>
    
    </a>
      </div>
      <a href="http://127.0.0.1:5500/postview.html">
        <div class="content">
          <img src="css/bg.jpg" alt="">
          <h3 class="h3">Title</h3>
        <h6 class="card-price">Rs 500</h6>
        <p>Location</p>
      
      </a>
        </div>
    
        <a href="#">
          <div class="content">
            <img src="css/bg.jpg" alt="">
            <h3 class="h3">Title</h3>
          <h6 class="card-price">Rs 500</h6>
          <p>Location</p>
        
        </a>
          </div>
    
          <a href="#">
            <div class="content">
              <img src="css/bg.jpg" alt="">
              <h3 class="h3">Title</h3>
            <h6 class="card-price">Rs 500</h6>
            <p>Location</p>
          
          </a>
            </div>
    </div>
     --}}

    <!-- Vehicles Ads -->
<!-- Card Div Heading Start -->
<div class="heading">
  <h1>Vehicles Ads</h1>
</div>
<!-- Card Div Heading End -->


<!-- Card Div Start -->


  <div class="gallery ">
    <a href="#">
      <div class="content">
        <img src="css/bg.jpg" alt="">
        <h3 class="h3">Title</h3>
      <h6 class="card-price">Rs 500</h6>
      <p>Location</p>
    
    </a>
      </div>
      <a href="#">
        <div class="content">
          <img src="css/bg.jpg" alt="">
          <h3 class="h3">Title</h3>
        <h6 class="card-price">Rs 500</h6>
        <p>Location</p>
      
      </a>
        </div>
    
        <a href="#">
          <div class="content">
            <img src="css/bg.jpg" alt="">
            <h3 class="h3">Title</h3>
          <h6 class="card-price">Rs 500</h6>
          <p>Location</p>
        
        </a>
          </div>
    
          <a href="#">
            <div class="content">
              <img src="css/bg.jpg" alt="">
              <h3 class="h3">Title</h3>
            <h6 class="card-price">Rs 500</h6>
            <p>Location</p>
          
          </a>
            </div>
    </div>
        


    <!-- Property Ads -->
<!-- Card Div Heading Start -->
<div class="heading">
  <h1>Property Ads</h1>
</div>
<!-- Card Div Heading End -->


<!-- Card Div Start -->


  <div class="gallery ">
    <a href="#">
      <div class="content">
        <img src="css/bg.jpg" alt="">
        <h3 class="h3">Title</h3>
      <h6 class="card-price">Rs 500</h6>
      <p>Location</p>
    
    </a>
      </div>
      <a href="#">
        <div class="content">
          <img src="css/bg.jpg" alt="">
          <h3 class="h3">Title</h3>
        <h6 class="card-price">Rs 500</h6>
        <p>Location</p>
      
      </a>
        </div>
    
        <a href="#">
          <div class="content">
            <img src="css/bg.jpg" alt="">
            <h3 class="h3">Title</h3>
          <h6 class="card-price">Rs 500</h6>
          <p>Location</p>
        
        </a>
          </div>
    
          <a href="#">
            <div class="content">
              <img src="css/bg.jpg" alt="">
              <h3 class="h3">Title</h3>
            <h6 class="card-price">Rs 500</h6>
            <p>Location</p>
          
          </a>
            </div>
    </div>
        

     <!-- Take care Ads -->
<!-- Card Div Heading Start -->
<div class="heading">
  <h1>Take Care Ads</h1>
</div>
<!-- Card Div Heading End -->


<!-- Card Div Start -->


  <div class="gallery ">
    <a href="#">
      <div class="content">
        <img src="css/bg.jpg" alt="">
        <h3 class="h3">Title</h3>
      <h6 class="card-price">Rs 500</h6>
      <p>Location</p>
    
    </a>
      </div>
      <a href="#">
        <div class="content">
          <img src="css/bg.jpg" alt="">
          <h3 class="h3">Title</h3>
        <h6 class="card-price">Rs 500</h6>
        <p>Location</p>
      
      </a>
        </div>
    
        <a href="#">
          <div class="content">
            <img src="css/bg.jpg" alt="">
            <h3 class="h3">Title</h3>
          <h6 class="card-price">Rs 500</h6>
          <p>Location</p>
        
        </a>
          </div>
    
          <a href="#">
            <div class="content">
              <img src="css/bg.jpg" alt="">
              <h3 class="h3">Title</h3>
            <h6 class="card-price">Rs 500</h6>
            <p>Location</p>
          
          </a>
            </div>
    </div>


 <!-- Services Ads -->
<!-- Card Div Heading Start -->
<div class="heading">
  <h1>Services</h1>
</div>
<!-- Card Div Heading End -->


<!-- Card Div Start -->


  <div class="gallery ">
    <a href="#">
      <div class="content">
        <img src="css/bg.jpg" alt="">
        <h3 class="h3">Title</h3>
      <h6 class="card-price">Rs 500</h6>
      <p>Location</p>
    
    </a>
      </div>
      <a href="#">
        <div class="content">
          <img src="css/bg.jpg" alt="">
          <h3 class="h3">Title</h3>
        <h6 class="card-price">Rs 500</h6>
        <p>Location</p>
      
      </a>
        </div>
    
        <a href="#">
          <div class="content">
            <img src="css/bg.jpg" alt="">
            <h3 class="h3">Title</h3>
          <h6 class="card-price">Rs 500</h6>
          <p>Location</p>
        
        </a>
          </div>
    
          <a href="#">
            <div class="content">
              <img src="css/bg.jpg" alt="">
              <h3 class="h3">Title</h3>
            <h6 class="card-price">Rs 500</h6>
            <p>Location</p>
          
          </a>
            </div>
    </div>    
 
{{>footer}}