<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" type="text/css" href="/css/card.css"> 
    <!-- lightslider css -->
<link rel="stylesheet" type="text/css" href="/css/lightslider.css">
    <!-- Jquery -->
<script type="text/javascript" src="/js/jquery.js"></script>
<!-- lightslider Js -->
<script type="text/javascript" src="/js/lightslider.js"></script>
<script src="/js/script.js"></script>


</head>
<body>

 {{!-- <ul id="autoWidth" class="cs-hidden">
    <!-- List 1 -->
    <li class="item-a">  
    <div class="box">
        <div class="slide-img">
            <img src="/css/bg.jpg" alt="" class="bg-img">
         <!-- overlayer-->
         <div class="overlayer">
             <!-- viewpost Button -->
             <a href="#" class="click-btn">Click here</a>
         </div>
     </div>
        <div class="detail-box">
            <!-- type -->
            <div class="type">
                <a href="#">Title</a>
                <span>Location</span>
             </div>
            <!-- price -->
       <a href="#" class="price">123</a>   
        </div>
</div>
 </li>
    <!-- List 2 -->
    <li class="item-b">  
    <div class="box">
        <div class="slide-img">
            <img src="/css/bg1.jpg" alt="" class="bg-img">
         <!-- overlayer-->
         <div class="overlayer">
             <!-- viewpost Button -->
             <a href="#" class="click-btn">Click here</a>
         </div>
     </div>
        <div class="detail-box">
            <!-- type -->
            <div class="type">
                <a href="#">Title</a>
                <span>Location</span>
             </div>
            <!-- price -->
       <a href="#" class="price">Rs 250</a>   
        </div>
</div>
 </li>
    <!-- List 3 -->
    <li class="item-c">  
    <div class="box">
        <div class="slide-img">
            <img src="/css/WhatsApp_Image_2021-09-14_at_10.49.51_50.jpeg" alt="" class="bg-img">
         <!-- overlayer-->
         <div class="overlayer">
             <!-- viewpost Button -->
             <a href="#" class="click-btn">Click here</a>
         </div>
     </div>
        <div class="detail-box">
            <!-- type -->
            <div class="type">
                <a href="#">Title</a>
                <span>Location</span>
             </div>
            <!-- price -->
       <a href="#" class="price">Rs 250</a>   
        </div>
</div>
 </li>
    <!-- List 4 -->
  <li class="item-d">  
    <div class="box">
        <div class="slide-img">
            <img src="bg.jpg" alt="" class="bg-img">
         
         <div class="overlayer">
         
             <a href="#" class="click-btn">Click here</a>
         </div>
     </div>
        <div class="detail-box">
           
            <div class="type">
                <a href="#">Title</a>
                <span>Location</span>
             </div>
       
       <a href="#" class="price">Rs 250</a>   
        </div>
</div>
 </li>
  
    <li class="item-e">  
    <div class="box">
        <div class="slide-img">
            <img src="bg.jpg" alt="" class="bg-img">
        
         <div class="overlayer">
      
             <a href="#" class="click-btn">Click here</a>
         </div>
     </div>
        <div class="detail-box">
       
            <div class="type">
                <a href="#">Title</a>
                <span>Location</span>
             </div>
     
       <a href="#" class="price">Rs 250</a>   
        </div>
</div>
 </li>
   
    <li class="item-f">  
    <div class="box">
        <div class="slide-img">
            <img src="bg.jpg" alt="" class="bg-img">
         
         <div class="overlayer">
            
             <a href="#" class="click-btn">Click here</a>
         </div>
     </div>
        <div class="detail-box">
          
            <div class="type">
                <a href="#">Title</a>
                <span>Location</span>
             </div>
        
       <a href="#" class="price">Rs 250</a>   
        </div>
</div>
 </li> 
    <!-- List 7 -->
     <li class="item-g">  
    <div class="box">
        <div class="slide-img">
            <img src="bg.jpg" alt="" class="bg-img">
         <!-- overlayer-->
         <div class="overlayer">
             <!-- viewpost Button -->
             <a href="#" class="click-btn">Click here</a>
         </div>
     </div>
        <div class="detail-box">
            <!-- type -->
            <div class="type">
                <a href="#">Title</a>
                <span>Location</span>
             </div>
            <!-- price -->
       <a href="#" class="price">Rs 250</a>   
        </div> 
</div>
 </li>
  </ul> --}}
  <ul id="autoWidth" class="cs-hidden">
    <!-- List 1 -->
   
    <!-- List 5 -->
    <li class="item-e">  
    <div class="box">
        <div class="slide-img">
            <img src="/css/ee.jpeg" alt="" class="bg-img">
         <!-- overlayer-->
         <div class="overlayer">
             <!-- viewpost Button -->
             <a href="/getcarpost" class="click-btn">Click here</a>
         </div>
     </div>
        <div class="detail-box">
            <!-- type -->
            <div class="type">
                <a href="#">Toyota Corolla GLi 2013 For Rent Sargodha To ISB</a>
                <span>Sargodha</span>
             </div>
            <!-- price -->
       <a href="#" class="price">10000</a>   
        </div>
</div>
 </li>
    <!-- List 6 -->
    <li class="item-f">  
    <div class="box">
        <div class="slide-img">
            <img src="/css/a.jpg" alt="" class="bg-img">
         <!-- overlayer-->
         <div class="overlayer">
             <!-- viewpost Button -->
             <a href="/postview" class="click-btn">Click here</a>
         </div>
     </div>
        <div class="detail-box">
            <!-- type -->
            <div class="type">
                <a href="#">Toyota Corolla GLi 2013 For Rent Sargodha To Lhr</a>
                <span>Sargodha</span>
             </div>
            <!-- price -->
       <a href="/postview" class="price">Rs 8500 </a>   
        </div>
</div>
 </li>
    <!-- List 7 -->
    <li class="item-g">  
    <div class="box">
        <div class="slide-img">
            <img src="/css/m.jpg" alt="" class="bg-img">
         <!-- overlayer-->
         <div class="overlayer">
             <!-- viewpost Button -->
             <a href="#" class="click-btn">Click here</a>
         </div>
     </div>
        <div class="detail-box">
            <!-- type -->
            <div class="type">
                <a href="#">Title</a>
                <span>Location</span>
             </div>
            <!-- price -->
       <a href="#" class="price">Rs 250</a>   
        </div>
</div>
 </li>
    <!-- List 8 -->
    <li class="item-h">  
    <div class="box">
        <div class="slide-img">
            <img src="/css/aaa.jpeg" alt="" class="bg-img">
         <!-- overlayer-->
         <div class="overlayer">
             <!-- viewpost Button -->
             <a href="/getcarpost" class="click-btn">Click here</a>
         </div>
     </div>
        <div class="detail-box">
            <!-- type -->
            <div class="type">
                <a href="#">Toyota Corolla GLi 2013 For Rent Sargodha To Lhr</a>
                <span>Sargodha</span>
             </div>
            <!-- price -->
       <a href="#" class="price">Rs 8500 </a>   
        </div>
</div>
 </li>
       <!-- List 8 -->

  </ul>

    <!-- Script Link -->
    <script type="text/javascript" src="/js/card.js"></script>

</body>
</html>