 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 
}
body{
    background-color: #f2f2f2;
}

html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

nav{
    background: #1b1b1b;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;

}

nav:after{
    content: '';
    clear: both;
    display: table;
}
nav .logo{

    float: left;
    color: white;
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 7rem;
    padding-left: 4rem;
   
}
nav .logo span{
    color: cyan;
    font-size: 4rem;
}
nav .ul{
    float: right;
    list-style: none;
    margin-right: 4rem;
    position: relative;
}
nav .ul .li{
    float: left;
    background:#1b1b1b;
    margin: 0 0.5rem;
}
nav .ul .li a{
    color: white;
    text-decoration: none;
line-height: 7rem;
font-size:1.8rem ;
padding: 0.8rem 1.5rem;
}

nav .ul .li a:hover{
    box-shadow: 0 0 0.5rem #33ffff,0 0 0.5rem #66ffff;
    border-radius: 5px;
    color: cyan;
}
nav .ul .ul .li a:hover{
    box-shadow: none;
    color: cyan;
}
nav .ul .ul{
    position: absolute;
    top: 9rem;
    opacity: 0;
    left: auto;
    width: auto;
    visibility: hidden;
    transition: top 0.3s ;
    border-top: 2px solid cyan;
}

nav .ul .li:hover > .ul{
    top: 7rem;
    left: auto;
    opacity: 1;
    visibility: visible;
}

nav .ul .ul .li{
    position: relative;
    margin: 0px;
    width: 100%;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0,0,0.3);
}
nav .ul .ul .li a{
    line-height: 5rem;
}
nav .ul .ul .ul .li{
    position: relative;
    top: -7rem;
    left: 15rem;
}
.show,.icon, #btn ,#btn-1,#btn-2,#btn-3 ,#btn-4{
    display: none;   

}

 

/* Responsive */
@media all and (max-width: 968px){
nav .ul{
    margin-right: 0px;
    float:left;
 
}
nav .logo{
    padding-left:3rem;
    width: 100%;
}
nav .ul .li, nav .ul .ul .li{
    display: block;
    width: 100%;
 
}
nav .ul .ul{
    top: 7rem;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
}
.show{
    display: block;   
    color: white;
    font-size: 1.8rem;
    padding: 0 2rem;
    line-height: 7rem;
    cursor: pointer;
}
#btn{
    display: none;
}
.show:hover{
    color: cyan;
}
.icon{
 display:block;
 color: white;
 position:absolute;
 right: 4rem;
 line-height: 7rem;
 font-size:2.5rem;
cursor: pointer;

}


nav .ul .li a:hover{
   box-shadow: none;
}
.show + a, .ul{
display: none;
}
[id^=btn]:checked + .ul{
    display: block ;
}


}




/*Image DIv Start Now*/
.bgimg{
  background-image:linear-gradient(to right, rgba(0,0,0,0.363),rgba(0,0,0,0.363)), url("./bg2.jpg");
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}

@media all and (max-width:968px){
    .bgimg{
        background-image:linear-gradient(to right, rgba(0,0,0,0.363),rgba(0,0,0,0.363)), url("./bg2.jpg");
       position: relative;
       background-size: cover;
       background-repeat: no-repeat;
       width: 100%;
       height: 50vh;
    }
    
}

/*Card Div Start Now*/
.heading h1{
    text-align: center;
    margin-top: 3.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    color:#222f3e;
    font-family: poppin,sans-serif;
 
}


.h3{

   text-align: center; 
    font-size: 3rem;
    padding-top: 1rem;
    box-sizing: border-box;
 
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0;
    
}
.content{
    width: 24%;
    margin: 0.5rem;
    height: 32rem;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    padding-top: 0rem;
    box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25),0 1rem 1rem rgba(0,0,0,0.22);
    transform: .4s;
    background-color: f2f2f2;
    /* display: none; */
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0,0,0.16),0 3px 6px rgba(0, 0,0,0.23);
     /* transform: translate(0px ,-8px);  */
}
img{
    width: 100%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0.5rem 0.5rem 0 0;
}
.card-text{
    justify-content: center;
    text-align: center;
    color: #181515;
    padding-top: 0 0.8rem;
}
.card-price{
    font-size: 2.6rem;
    text-align: center;
    color: #222f3e;
    margin: 0;
  
    
}

ul{
display: flex;
justify-content:center;
align-items:center;
padding-top: 0;
}
li{
    padding-top: 5px;
}
.checked{
    color: orange ;
    font-size: 2.6rem;
    transition: .4s;
    margin: 0.3rem;
}
.checked:hover{
    transform: scale(1.3);
    transition: 0.6s;
}
button{
    text-align: center;
    font-size: 2.4rem;
    color: white;
    width: 100%;
    padding: 1.5rem;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 0.5rem;
    border-bottom-right-radius:2rem ;
    border-bottom-left-radius:2rem ;
    background-color: #2182a2;
}



/* Contact Form */

.contact{
    position: relative;
    min-height:100vh;
    padding: 5rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.contact .content-form{
    max-width: 80rem;
    text-align: center;
}

.contact .content-form h2{
    font-size: 3.6rem;
    font-weight: 500;
    color: #fff;
}
.contact .content-form p{
   
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
position: relative;
padding:2rem 0 ;
display: flex;
}
.icon{
    color: #222f3e;
}
.container .contactinfo .box .icon{
    min-width: 6rem;
    height: 6rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.2rem;
}

.container .contactinfo .box .text{
    display: flex;
    margin-left: 2rem;
    font-size: 1.6rem;
    color: #fff;
    flex-direction: column;
    font-weight: 200;
}

.container .contactinfo .box .text h3{
font-weight: 600;
color: #222f3e;
}
.contactform{
    width: 40%;
    padding: 04rem;
    background-color: #fff;
}
.contactform h2{
font-size: 3rem;
color: #333;
font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width:100%;
    margin-top: 0rem;
    
}
.contactform .inputbox input ,
.contactform .inputbox textarea{
   width: 100%;
   padding: 0.5rem 0;
   font-size: 1.6rem;
   margin: 1rem 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 0.5rem 0;
    font-size: 1.6rem;
    margin: 1rem 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
    color: #e91e63;
    font-size: 1.2rem;
    transform: translateY(-20px );
}

.contactform .inputbox input[type="submit"]{
width: 10rem;
background: #00bcd4;
color: #fff;
border: none;
cursor: pointer;
padding: 1rem;
font-size: 1.8rem;
}


/* Responsive */
@media  (max-width:968px){
.contact{
    padding: 5rem;
}
.container{
    flex-direction: column;
}
.container .contactinfo{
    margin-bottom: 4rem;

}
.container .contactinfo, .contactform{
    width:100%;
}

}



/* Post View */
.post-box{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.left{
    flex-basis: 55%;
    width: 100%;

  
}
.left img{
  
    width: 100%;
    height: 100%
  
  
}
.right{
    /* display: inline-block; */
    flex-basis: 43%;
    width: 50%;
    height: 20%;
    border: 1px solid rgba(0, 47, 52, 0.36);
    border-radius: 0.5rem;
}
.right h1,h2{
padding: 1rem;
}
.seller{
    float: right;
    height: 20%;
    width: 42.7%;
    border: 1px solid rgba(0, 47, 52, 0.36);
    border-radius: 0.5rem;
    margin-top: -38rem;
    margin-right: 0.5rem;
    padding: 1.5rem 0;
   
  
}
.seller .des{
    font-size: 2.3rem;
    padding: 0 1rem;
    font-weight: 500;
}
.detail{
    display: flex;
justify-content: space-between;
align-items: center;
margin-top: 2rem;

padding: 1rem;

}
.iconic{
    flex-basis: 25%;
    position: absolute;
    padding: 0rem 4rem;  
}
.iconic img{
    display: block;
    position: relative;
    width: 68px;
    height: 68px;
    
    

}
.info{
    flex-basis: 25%;
   
    margin-left: 15rem;
}
.info h1{
  font-size: 1.596rem;
  font-weight: 700;
  letter-spacing: normal;
  text-size-adjust: 100%;
  -webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
  line-height: 2.394rem;
  text-decoration-thickness: auto;
text-rendering: optimizelegibility;
}
.info span{
    color: rgba(0,47,52,.64);
    font-size: 1.204rem;
    cursor: pointer;
display: block;

height: 21px;
letter-spacing: normal;
line-height: 18.06px;
text-decoration-thickness: auto;
text-rendering: optimizelegibility;
text-size-adjust: 100%;
width: 150.781px;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
}
.greater{
    flex-basis: 25%;
}
.greater i{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-size: contain;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
     font-size: 1.8rem;
    height: 18px;
    letter-spacing: normal;
    line-height: 21px;

  
}


/* product Details */
.d-box{
    float: right;
    height: 20%;
    width: 42.7%;
    border: 1px solid rgba(0, 47, 52, 0.36);
    border-radius: 0.5rem;
    margin-top: -22rem;
    margin-right: 0.5rem;
    padding: 1.5rem 0;

}

.Pro-title h3{
    font-size: 2.5rem;
    padding: 0 1rem;
    font-weight: 500;
    color: black;
}
.pro-type h4{
    font-size: 1.3rem;
    padding: 0.2rem 2rem;
    font-weight: 500;
    color: black; 

   
}
.pro-type {
    margin-bottom:2rem;
}
.border {
    border-top: 1px solid rgba(0, 28, 31, 0.36);
width: 100%;

}
.pro-des {
    margin-top:1.5rem;
}

.pro-des h5{
    font-size: 2.5rem;
    padding: 0 1rem;
    font-weight: 500;
    color: black;
}
.pro-des textarea{
    width: 100%;
    height: 20vh;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    margin: 1rem 0;
   border: none;
   /* border: 0.5px solid rgba(0, 28, 31, 0.36); */
   outline: none;
   resize: none;
   border-radius: 0.5rem;
   margin-top: 0.5rem;
   background-color: rgba(0, 0, 0.2, 0);
}



/*Ads Posting Page*/
.box-heading h3{
    text-align: center;
box-sizing: border-box;
color: rgb(0, 47, 52) #002f34 ;
display: block;
font-family: Roboto, Helvetica, sans-serif;
font-size: 2.5rem;
font-weight: 700;
height: 29.8125px;
letter-spacing: normal;
line-height: 29.82px;
text-rendering: optimizelegibility;
text-size-adjust: 100%;
text-transform: uppercase;
margin-top: 2rem;
}

.ads-box{
    border: 1px solid rgba(0, 28, 31, 0.36);
    width: 90%;
    margin: auto;
    background-color: #fff;

}
.box-head h5{
    color: rgb(0, 47, 52) #002f34 ;
    font-size: 1.988rem;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 2.9rem;
    text-transform: uppercase;
    padding: 0.8rem 2rem;
 

}
.ad-title{
    margin: auto;
    color: rgb(0, 47, 52) #002f34 ;
    cursor:default;
    font-size: 1.4rem;
    letter-spacing: normal;
    line-height: 2.1rem;


}
.ad-title label{
    display: block;
    padding: 0 2rem;
    font-weight: 500;

}

.ad-title input{
    box-sizing: border-box;
    color: rgb(0, 47, 52) #002f34 ;
    display: flex;
    font-size: 1.4rem;
    height: 4.8rem;
    letter-spacing: normal;
    line-height: 2.1rem;
   max-width: 97%;
   width: 97%;
   margin: 0.5rem 2rem;
   padding: 0.5rem 0.8rem;
   outline: none;
}
.ad-title .combo{
    box-sizing: border-box;
    color: rgb(0, 47, 52) #002f34 ;
    display: flex;
    font-size: 1.4rem;
    height: 4.8rem;
    letter-spacing: normal;
    line-height: 2.1rem;
   max-width: 97%;
   width: 97%;
   margin: 0.5rem 2rem;
   padding: 0.5rem 0.8rem;
   outline: none;
}
.ad-title p{
    padding:0 2rem;
    font-size: 1.2rem;
}
.ad-title textarea{
   
    padding: 0.5rem 0;
    font-size: 1.6rem;
    margin: 0.5rem 2rem;
   border: none;
   border: 1px solid rgba(0, 28, 31, 0.36);
   outline: none;
   resize: none;
   height: 4.8rem;
   letter-spacing: normal;
   line-height: 2.1rem;
   height: 30vh;
  max-width: 97%;
  width: 97%;
}
.btn{
    padding: 0.8rem 2rem;
}

.btn input{
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    background-color: #002f34;
    color: white;
    border: none;
    outline: none;
    border-radius: 1rem;
}


/*Choose Category*/
#title{
    padding-top: 2rem;
}



@media only screen and (max-width:1180px) {
    .heading h1{
        text-align: center;
        margin-top: 3.5rem;
        font-size: 2.5rem;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin: 0rem 0;
        
    }
    .content{
        width: 20%;
        display: block;
        height:auto;
      
        
    }

    img{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 15rem;
}
.h3{

    text-align: center; 
     font-size: 1.5rem;
     padding-top: 1rem;
     box-sizing: border-box;
  
 }

.card-text{
    justify-content: center;
    text-align: center;
    color: #181515;
    padding-top: 0 0.8rem;
}
.card-price{
    font-size: 1.6rem;
    text-align: center;
    color: #222f3e;
    margin: 0;
  
    
}


    
    .ad-title{
        width:100%;
        padding:0px 2%
    }
    .btn input{
   
        margin-left: 1.5rem;
        
    }

}
@media only screen and (max-width:998px){
    .ad-title{
        width:100%;
        padding:0px 2%
    }
    .ad-title label{
        padding-left:1.2rem ;
    }
    .ad-title input{
        width: 100%;
        margin: auto;
    
    }
    .ad-title textarea{
        width: 100%;
        height: 20vh;
        margin: auto ;
        display: block;
    }
    .ad-title .combo{
        width: 100%;
        margin: auto;
    }
    .box-head .botm{
        font-size: 1.8rem;
        display: inline-block;
       padding-left:1.2rem ;
    }
    .btn input{
   
        margin-left: 0.6rem;
        
    }
} 
@media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    
    }
    .main-content .box{
      margin: 5px 0;
    }
    .right.box{
        width: 100%;
    }
.btn{
    width: 100%;
    
}
}  
@media only screen and (max-width:768px){
    .ad-title{
        width:100%;
        padding:1rem 0rem;
    }
    .ad-title label{
        padding-left:1.1rem ;
    }
    .ad-title input{
        width: 100%;
        margin: auto;
    
    }
    .ad-title textarea{
        width: 100%;
        height: 20vh;
        margin: auto ;
        display: block;
    }
    .ad-title .combo{
        width: 100%;
        margin: auto;
    }
    .box-head .botm{
        font-size: 1.6rem;
        display: inline-block;
       padding-left:1rem ;
    }
    .btn input{
   
        margin-left: -1rem;
        padding: auto;
        text-align: center;
        
    }
}
@media only screen and (max-width:480px){
    .box-heading h3{
        display: block;
        font-size: 1.7rem;
    }

    .box-head h5{
        font-size: 1.5rem;
        text-align: center;
        padding-left: 0rem;
    }
    .ad-title label{
        padding-left:0.8rem ;
    }   
    .ad-title{
        width:100%;
        /* padding:4px 2% */
        padding: 1rem 1rem;
    }
    .ad-title input{
        width: 100%;
        margin: auto;
        padding: 1rem 0rem;
    
    }
    .ad-title p{
        font-size: 1rem;
        padding-left: 1rem;
    }
    .ad-title textarea{
        width: 100%;
        height: 20vh;
        margin: auto ;
        display: block;
    }
    .ad-title .combo{
        width: 100%;
        margin: auto;
    }
    .box-head .botm{
        font-size: 1.4rem;
        display: inline-block;
       padding-left:0.7rem ;
    }
}
@media only screen and (max-width:320px){
    .box-heading h3{
        display: block;
        font-size: 1.5rem;
    }

    .box-head h5{
        font-size: 1.3rem;
    }
      
    .ad-title label{
        padding-left:0.5rem ;
    }
    .ad-title{
        width:100%;
    }
  
    .ad-title input{
        width: 100%;
        margin: auto;
    
    }
    .ad-title p{
        font-size: 1rem;
        padding-left: 1rem;
    }
    .ad-title textarea{
        width: 100%;
        height: 20vh;
        margin: auto ;
        display: block;
    }
    .ad-title .combo{
        width: 100%;
        margin: auto;
    }

    .box-head .botm{
        font-size: 1.2rem;
        display: inline-block;
       padding-left:0.7rem ;
    }

}
@media only screen and (max-width:230px){
    .box-heading h3{
        display: block;
        font-size: 1.5rem;
    }

    .box-head h5{
        font-size: 1rem;
        align-items: center;
        display: block;
        padding: 0.8rem 2rem;
    }
      
    .ad-title label{
        padding-left:0.5rem ;
    }
    .ad-title{
        width:100%;
        padding: 1rem 0;
    }
  
    .ad-title input{
        width: 100%;
        margin: auto;
    
    }
    .ad-title p{
       display: none;
    }
    .ad-title textarea{
        width: 100%;
        height: 20vh;
        margin: auto ;
        display: block;
    }
    .ad-title .combo{
        width: 100%;
        margin: auto;
    }

    .box-head .botm{
        font-size: 1.1rem;
        display: inline-block;
       padding-left:0.7rem ;
    }

}






footer{
    position: static;
    bottom: 0px;
    width: 100%;
    background: #111;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #d9d9d9;
  }
  .box .footer-content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .footer-content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .footer-content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
    
  }
  .left .footer-content p{
    text-align: justify;
    color: #d9d9d9;
  }
  .left .footer-content .social{
    margin: 20px 0 0 0;
  }
  .left .footer-content .social a{
    padding: 0 2px;
  }
  .left .footer-content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: #d9d9d9;
  }
  .left .footer-content .social a span:hover{
   color: cyan;
    box-shadow: 0 0 0.5rem #33ffff,0 0 0.5rem #66ffff;

  }
  .center .footer-content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    color: white;
  }
  .center .footer-content .fas:hover{
    /* background: cyan; */
    color: cyan;
    box-shadow: 0 0 0.5rem #33ffff,0 0 0.5rem #66ffff;

  }
  .center .footer-content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    color: #d9d9d9;
  }
  .center .footer-content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #d9d9d9;
  }
  .right form .msg{
    margin-top: 1rem;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
    color: #d9d9d9;
  align-items: center;
  }

  .right form input:focus,
  .right form textarea:focus{
    outline-color: white;
  
  }
  .right form textarea{
   
      padding-top:1rem;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
    width: 100%;
    
  }
  .right form .btn button{
      color: #000;
    display: inline-block;
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    background: cyan;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    text-align: center;
    
  }
  .right form .btn button:hover{
    background: #000;
    box-shadow: 0 0 0.5rem #33ffff,0 0 0.5rem #66ffff;
color: white;
font-weight: 500;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  