<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact US</title>
    <link rel="stylesheet" href="ex.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<section class="contact">
<div class="content-form">
    <h2>Contact Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nobis voluptates non eveniet reiciendis fuga enim. Eligendi non magni porro.</p>
</div>
<div class="container">
    <div class="contactinfo">
        <div class="box">
<div class="icon"><i class="fa-solid fa-location-dot"></i></div>
<div class="text">
    <h3>Address</h3>
  <p>10km Sargodha,<br>The UOL Sgd campus,<br>40100
</p>
</div>
</div>
        <div class="box">
<div class="icon"><i class="fa-solid fa-phone"></i></div>
<div class="text">
    <h3>Phone</h3>
  <p>0342-3964067</p>
</div>
</div>
        <div class="box">
<div class="icon"><i class="fa-solid fa-envelope"></i></div>
<div class="text">
    <h3>Email</h3>
  <p>BSSE07183016@student.uol.edu.pk</p>
</div>
</div>
</div>
<div class="contactform">
    <form action="">
<h2>Send Message</h2>

<div class="inputbox">
<input type="text"  name=""  required="required">
<span>Full Name</span>
</div>
<div class="inputbox">
<input type="text"  name="Email"  required="required">
<span>Email</span>
</div>

<div class="inputbox">
    <!-- <span>Type Your Message</span> -->

<textarea  required="required" placeholder=""></textarea>
<span>Type Your Message</span>
</div>
<div class="inputbox">
    <input type="submit"  name=""  value="Send">
    
    </div>
    </form>
</div>


</div>
</section>
    
</body>
</html>