<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental.PK</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<!-- Body Start Here -->

<body>

<nav class="main-nav">
<div class="logo">
    <h2><span>R</span>ental.<span>PK</span></h2>
</div>
<div class="Menu-Link">
    <ul>
    <li><a  class="btn btn-primary bttn" href="#" role="button">Vehicles</a></li>
    <li><a  class="btn btn-primary bttn" href="#" role="button">Property</a></li>
    <li><a  class="btn btn-primary bttn" href="#" role="button">Care Taker</a></li>
    <li><a  class="btn btn-primary bttn" href="#" role="button">Services</a></li>
    <li><a  class="btn btn-primary bttn" href="#" role="button">Care Taker</a></li>
    <li><a  class="btn btn-primary bttn" href="#" role="button">Services</a></li>
   
</ul>
</div>
<div class="btn">
    <ul>
        <li><a class="btn btn-primary bttn" href="#" role="button">Login/Register</a></li>
    </ul>
    <ul>
        <li><a class="btn btn-primary" href="#" role="button">Post Your Ad</a></li>
    </ul>
</div>


</nav>

<section class="Main-section">
    <div class="bgimg">
     <div class="bg-text">
        <h1>  Discover Your New Home</h1>
        <p>Helping 100 million renters find their perfect fit.</p>
    </div>
    <div class="search-box">
        <form action="/action_page.php" class="search-form">
            <input type="text" placeholder="Keywords" name="search" class="search-field skills">
            
            <input type="text" placeholder="Loaction" name="search" class="search-field location">
            <button type="submit" class="search-btn">Search</button>
          </form>
    </div>

        </div>
</section>
<!-- Footer section -->
 <!-- <footer class="footer">
    <div class="container">
        <div class="row">

<div class="footer-col">
    <h4 class="links">Quick Links</h4>
    <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help & Support</a></li>
    </ul>
</div>
 
<div class="footer-col">
    <h4 class="selling">How to Sell Fast</h4>
    <ul>
        <li><a href="#">How to Sell Fast</a></li>
        <li><a href="#">Membership</a></li>
        <li><a href="#">Promote Your Ad</a></li>
        <li><a href="#">FAQ</a></li>
    </ul>
</div>

<div class="footer-col">
   <div class="social-link">
    <h4 class="social">Follow Us on</h4>
    <ul>
        <li><a href="#"><i class="fa-brands fa-facebook-f"></i>Facebook</a></li>
        <li><a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a></li>
        <li><a href="#"><i class="fa-brands fa-google-plus"></i>Google+</a></li>
        <li><a href="#"><i class="fa-brands fa-youtube"></i>Youtube</a></li>
    </ul>
   </div>
</div>

        </div>
    </div>
</footer>  -->
</body>
</html>