<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Your Shop Ads</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="ex.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <nav>
        <div class="logo"><Span>R</Span>ental.PK</div>
        <label for="btn" class="icon">
          <span class="fa fa-bars"></span>
        </label>
        <input  type="checkbox"  name="" id="btn" class="show">
    
        <!-- <div class="openmenu"><i class="fa fa-bars"></i></div> -->
        <ul class="Main-menu ul">
            <li class="li"><a href="#">Home</a></li>
            <!-- 1st Dropdown start -->
            <li class="li">
              <label for="btn-1" class="show">Vehicles</label>
                <a href="#">Vehicles</a>
                <input type="checkbox" name="" id="btn-1">
            <ul class="ul">
                <li class="li"><a href="#">Cars</a></li>
                <li class="li"><a href="#">Truck</a></li>
               
            </ul>
            </li>
              <!-- 1st Dropdown End -->
        
             <!-- 2nd Dropdown start -->
             <l class="li">
              <label for="btn-2" class="show">Property</label>
                <a href="#">Property</a>
                <input type="checkbox" name="" id="btn-2">
    
             
          <ul class="ul">
              <li class="li"><a href="#">House</a></li>
              <li class="li"><a href="#">Shops</a></li>
              <li class="li"><a href="#">Appertment</a></li>
          </ul>
          </l class="li"i>
            <!-- 2nd Dropdown End -->
             <!-- 3rd Dropdown start -->
             <li class="li">
              <label for="btn-3" class="show">Take Care</label>
                <a href="#">Take Care</a>
                <input type="checkbox" name="" id="btn-3">
              
          <ul class="ul">
              <li class="li"><a href="#">Driver</a></li>
              <li class="li"><a href="#">Made</a></li>
              <li class="li"><a href="#">Cook</a></li>
              <li class="li"><a href="#">Security Guard</a></li>
          </ul>
          </li>
            <!-- 3rd Dropdown End -->
             <!-- 4th Dropdown start -->
             <li class="li">
              <label for="btn-4" class="show">Services</label>
              <a href="#">Services</a>
              <input type="checkbox" name="" id="btn-4">
              
             
          <ul class="ul">
              <li class="li"><a href="#">Plumber</a></li>
              <li class="li"><a href="#">Electrician</a></li>
              <li class="li"><a href="#">Wood Worker</a></li>
              <li class="li"><a href="#">Welder</a></li>
          </ul>
          </li>
            <!-- 4th Dropdown End -->
       
              <li class="li"><a  href="#" role="button">Login/Register</a></li>
          
              <li class="li"><a  href="#" role="button">Post Your Ad</a></li>
          <!-- <div class="closemenu"><i class="fa-solid fa-xmark"></i></div> -->
        </ul>     
    </nav>
    <div class="box-heading">
        <h3>Post Your AD</h3>
    </div>

    <form class="ads-box ">
        <div class="box-head"><h5>INCLUDE SOME DETAILS</h5></div>
        
        <div class="ad-title">
            <label for="" >Ad title</label>
            <input type="text" name="" id="" required>
            <p>Mention the key features of your item (e.g. brand, model, age, type)</p>
        </div>
        <div class="ad-title">
            <label for="" >Description</label>
            <textarea  required ></textarea>
            <p>Include condition, features and reason for selling</p>
        </div>

        <div class="ad-title">
            <label for="" >Type</label>
            <select name="make" id="" class="combo">
                <option value="">Select</option>
                <option value="">Office</option>
                <option value="">Shop</option>
                <option value="">Warehouse</option>
                <option value="">Factory</option>
                <option value="">Building</option>
            </select>
           
        </div>
        <div class="ad-title">
            <label for="" >Bathrooms</label>
            <select name="make" id="" class="combo">
                <option value="" class="opt">Select</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7+</option>
         
            </select>
           
        </div>

        <div class="ad-title">
            <label for="" >Features</label>
            <select name="make" id="" class="combo">
                <option value="">Select</option>
                <option value="">Servent Quarters</option>
                <option value="">Drawing Room</option>
                <option value="">Dining Room</option>
                <option value="">Kitchen</option>
                <option value="">Study Room</option>
                <option value="">Prayer Room</option>
                <option value="">Power Room</option>
                <option value="">Gym</option>
                <option value="">Store Room</option>
                <option value="">Steam Room</option>
                <option value="">Lounge or Setting Room</option>
                <option value="">Laundary Room</option>
            </select>
           
        </div>
        <div class="ad-title">
            <label for="" >Floor Level</label>
            <select name="make" id="" class="combo">
                <option value="">Select</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7+</option>
            </select>
           
        </div>
   
        <div class="ad-title">
            <div class="box-head"></div>
            <label for="" >Area</label>
            <input type="number" name="" id=""  required >
           
        </div>
        <div class="ad-title">
            <div class="box-head"><h5 class="botm">Set Price</h5></div>
            <label for="" >Price</label>
            <input type="number" name="" id=""  required >
           
        </div>
        <div class="ad-title">
            <div class="box-head"><h5 class="botm">YOUR AD'S LOCATION</h5></div>
            <label for="" >Location</label>
            <input type="text" name="" id=""  required >

           
        </div>
        <div class="ad-title">
            <div class="box-head"><h5 class="botm">UPLOAD UP TO 20 PHOTOS</h5></div>
            
            <input type="file" name="myfile" id="myfile"  multiple  required >
           
        </div>
        <div class="btn">
            <input type="submit" name="submit" id="submit" class="inp" >
        </div>

        </form>

      



</body>
</html>