@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Ubuntu', sans-serif;
    overflow: hidden;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Main Navbar */

.main-nav{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 6px 10px 67px -10px rgba(191,186,186,0.66);   
    
}
/* .openmenu{
    font-size: 2rem;
    margin: 2rem;
    display: none;
    cursor: pointer;
} */
.logo{
    flex-basis: 15%;
    display: flex;
justify-content: center;
align-items:center;
}


.logo h2{
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
   
}
.logo h2 span{
    font-size: 3.5rem;
}

.Menu-Link{

    flex-basis: 55%;


}
.Menu-Link ul{
 display: flex;
justify-content: space-around;
align-items:center;
font-size: 1.5rem;
}
.Menu-Link ul li{
    background-color: #00a651;
    margin-top: 1rem;  
}
.Menu-Link ul li a{
    width: 100%;
    color: white;
    transition: 0.5s;
    background-color: #00a651;
    padding: 0.8rem 0.5rem;
    border-radius: 5px;
    transition: 0.5s;
}
.Menu-Link ul li :hover{
    transform-origin: left;
    text-decoration: underline;
    transition: 0.5s;
    background-color: crimson;
    color: white;
}

.btn{
  
    flex-basis: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    outline: none;
    border: none;

}
.bttn{
    border-radius: 1rem;
}

.btn ul li{
    font-size: 1.5rem;
    margin-top: 1rem;
 
}
.btn ul li a{
    width: 100%;
    color: white;
    transition: 0.5s;
    background-color: #00a651;
    padding: 0.8rem 0.5rem;
    border-radius: 5px;
    
}
.btn ul li :hover{
    transform-origin: left;
    background-color: crimson;
    color: white;
    text-decoration: underline;
    transition: 0.5s;
}





/*Image DIv Start Now*/
.bgimg{
  
 width: 100%;
 height: 70vh;
 margin-top: 0.5rem;
 background-image: url("./bg2.jpg");
 position: absolute;
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 6px 14px 14px -9px rgba(0,0,0,0.75);
 
}
.bg-text{
    text-align: center;
color: white;
margin-top: 8rem;
}
.bg-text h1{
    font-size:6.4rem;
    line-height: 64px;
    letter-spacing:-2.9px;
    font-family: Ubuntu;
    font-weight: 500
}

.bg-text p{
    font-size:30px;
    line-height: 30px;
    letter-spacing: -1.3px;
    font-weight:400;
    font-family:CostarBrownLight;
}
.search-box{
    text-align: center;
  
}
.search-field{
    height: 5rem;
    padding: 1rem;

    font-size: 1.5rem;
}
.skills{
    width: 40rem;
}
.location{
    width: 20rem;
}
.search-btn{
    height: 50px;
    width: 150px;
    background-color: #f44336;
    font-size: 1.5rem;
    border: none;
}
.search-btn:hover{
    background-color: #bb0d00;
    cursor: pointer;
}

.search-form{
    display: inline-block;
    background:rgba(255, 255, 255, 0.5);
    padding: 3rem 5rem;
}

/* Responsive Ness */
@media(max-width:375px){
  .Main-section{
      display: inline-block;
  }
  .bgimg{
    width: 100%;
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 6px 14px 14px -9px rgba(0,0,0,0.75);
  }
}



/* footer section */
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
   padding: 7rem 0;
   font-family: 'Poppins', sans-serif;
   line-height: 1.5;
}
.footer-col{
width: 25%;
padding: 0 1.5rem;
}
.footer-col h4{
    font-size: 1.8rem;
    color: white;
    text-transform: capitalize;
    margin-bottom: 3rem;
    font-weight: 500;
    position: relative;
 
}
.footer-col .links::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.8rem;
    background-color: #e91e63;
    height: 3rem;
    box-sizing: border-box;
    width: 9.5rem;
}
.footer-col .selling::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.8rem;
    background-color: #e91e63;
    height: 3rem;
    box-sizing: border-box;
    width: 13.5rem;
}
.footer-col .social::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.8rem;
    background-color: #e91e63;
    height: 3rem;
    box-sizing: border-box;
    width: 11rem;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 1rem;
}
.footer-col ul li a{
    font-size: 1rem;
    text-transform: capitalize;
    color: white;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 1rem;
}
.footer-col .social-link a{
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.footer-col .social-link a i{
padding: 0rem 0.2rem;
font-size: 2.5rem;
align-items: center;


}
.social-link .fa-facebook-f{
    color: #4267B2;
}
.social-link .fa-twitter{
    color: #00acee;
}
.social-link .fa-google-plus{
    color:  #db4a39;
}
.social-link .fa-youtube{
  
    color: #FF0000;
    transition: all 0.5s ease;
}

